:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: black;
  background-color: #f5f3ef;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --primary: rgb(70, 207, 79);
  --bb-light: #f5f3ef;
  --radius-lg: 16px;
}

a {
  font-weight: 500;
  color: m black;
  text-decoration: inherit;
  transition: opacity 0.2s ease;
}
a:hover {
  color: green;
  opacity: 0.7;
}

button:hover {
  border-color: green;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: green;
  }
  button {
    background-color: #f9f9f9;
  }
}
